body {background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,0.4534883720930233) 27%, rgba(148,187,233,0.6418604651162791) 100%);
}

h1 {
	-webkit-text-stroke: 2px #FBC2EC;
	color: white;
	font-weight: bold;
}

h2{
-webkit-text-stroke: 0px black;
	color: #b590ca;
}	
a{
	text-decoration: none;
	color: #FBC2EC;
	font-weight: bold;

}
a:hover {
	color: #a8d3da;
}



.container 
 { 
	width: 700px;
	margin: 40px auto;
	}

 @media (max-width: 760px) {
	.container  {
		width: 600px;
        }
      }	

	 @media (max-width: 500px) {
	.container  {
		width: 400px;
	  }	
	}	

	

.card-white { 
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center; 

 }


.img-circle { 
	border-radius: 50%;
	}

	.shadowed { 
		box-shadow: 3px 3px 5px #a8d3da;
	}

	#leader{
		border: 3px solid #FBC2EC;
	 }

.btn-big {
  background-color: white;
  color: #FBC2EC;
  border: 3px solid #b590ca;
 }


.list-inline {
     list-style: none;
     padding-left: 0px;
}

.list-inline li {
 	 display: inline;
 	 padding: 10px;
 }

.list-inline i { 
	 font-size: 50px;
	 color: #eeaeca;;
 }
 .list-inline i:hover { 
	 font-size: 50px;
	 color: #94bbe9 ;
 }










